body{
    background-color: #131419;
    min-height: 100vh;
}

nav a{
    color: #5F5F6E;
}


.movie_card_date{
    color: #5F5F6E;
}

.top_billed_cast .author_name{
    color: #C9C9C9;
}

.menu-content{
    background-color: #1C1C24;
    opacity: 1;
    min-height: 12rem;
}

.menu-content ul li{

    padding: 8px;
}

.menu-content ul li:hover{
    background-color: #5F5F6E;
}
.tham-inner {
    background-color: #5F5F6F !important;
}
@media (max-width: 1024px) {/* md */
    .links a{
        font-size: 12px;
    }
    .top_billed_cast > h1{
        font-size: 20px;
    }
}
